Django==2.2.16
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
django-filter==21.1
PyJWT==2.1.0
mixer==7.1.2
Pillow==8.3.1
requests==2.26.0
six==1.16.0
sorl-thumbnail==12.7.0
django-debug-toolbar
djoser==2.1.0
social-auth-core==4.2.0
cryptography==37.0.2
python3-openid==3.2.0
oauthlib==3.2.0
Jinja2==3.1.2
cffi==1.15.0
pycparser==2.21
drf-extra-fields==3.4.0
django-extensions==3.1.5
python-dotenv==0.20.0
psycopg2-binary==2.8.6